{% extends "core/base.html" %}
{% load static %}
{% block title %}Criar Partida | Truco App{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/partida_form.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
  <h1>Criar Partida 1x1</h1>
  <p>Jogador 1: {{ jogador1.nome }}</p>
  <p>Jogador 2: {{ jogador2.nome }}</p>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salvar Partida</button>
  </form>

  <a href="{% url 'home' %}">Voltar para início</a>
</div>
{% endblock %}
