<!-- core/templates/core/jogador_detail.html -->
 {% load static %}
<!doctype html>
<html>
<link rel="stylesheet" href="{% static 'css/jogador_detail.css' %}" type="text/css">
<head><meta charset="utf-8"><title>{{ jogador.nome }}</title></head>
<header>

<c href="{% url 'home' %}" class="logo-home">
<img src="{% static 'img/logo.png' %}" alt="TrucoApp Logo">
</c>

</header>
<body>
  <h1>{{ jogador.nome }}</h1>

  <div class="jogador-info">
    <p>Curso: {{ jogador.curso }} — Período: {{ jogador.periodo }}</p>
    <p>Email: {{ jogador.email }}</p>
    <p>Vitórias: {{ jogador.vitorias }} — Derrotas: {{ jogador.derrotas }}</p>
    <p>Data de Nascimento: {{ jogador.dtNasc|date:"d/m/Y" }}</p>

    {% if jogador.imagem %}
      <p><img src="{{ jogador.imagem.url }}" alt="{{ jogador.nome }}"></p>
    {% endif %}

    <p>
      <a href="{% url 'jogador_update' jogador.pk %}">Editar</a> |
      <a href="{% url 'jogador_list' %}">Voltar</a>
    </p>
  </div>
</body>
</html>
