{% load static %}
<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>Jogadores</title>
  <link rel="stylesheet" href="{% static 'css/jogador_list.css' %}" type="text/css">
</head>

<header>

    <a href="{% url 'home' %}" class="logo-home">
        <img src="{% static 'img/logo.png' %}" alt="TrucoApp Logo">
          </a>
          <h1> Jogadores Cadastrados</h1>
          </header>

<body>


  <p><a href="{% url 'jogador_create' %}">Novo Jogador</a></p>

  <ul>
    {% for j in jogadores %}
      <li>
        <div class="player-card">
          {% if j.imagem %}
            <img src="{{ j.imagem.url }}" alt="{{ j.nome }}" class="player-img">
          {% else %}
            <img src="{% static 'img/defaultavatar.png' %}" alt="Sem foto" class="player-img">
          {% endif %}

          <div class="player-info">
            <a href="{% url 'jogador_detail' j.pk %}">{{ j.nome }}</a>
            <span>{{ j.curso }} ({{ j.periodo }}º)</span>
            <span>Vitórias: {{ j.vitorias }} / Derrotas: {{ j.derrotas }}</span>

            <div class="actions">
              <a href="{% url 'jogador_update' j.pk %}">Editar</a>
              <a href="{% url 'jogador_delete' j.pk %}">Remover</a>
            </div>
          </div>
        </div>
      </li>
    {% empty %}
      <li>Nenhum jogador cadastrado.</li>
    {% endfor %}
  </ul>

  {% if is_paginated %}
    <div class="pagination">
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">« Anterior</a>
      {% endif %}
      <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Próxima »</a>
      {% endif %}
    </div>
  {% endif %}
</body>
</html>
