{% extends "core/base.html" %}
{% load static %}

{% block title %}{{ view.object|default:"Novo Jogador" }} | Truco App{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/jogador_form.css' %}" type="text/css">
{% endblock %}

{% block content %}
  <div class="form-container">
    <h1>{{ view.object|default:"Novo Jogador" }}</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Salvar</button>
      <a href="{% url 'jogador_list' %}">Cancelar</a>
    </form>
  </div>
{% endblock %}
