{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<header>
  <a href="{% url 'home' %}" class="logo-home">
    <img src="{% static 'img/logo.png' %}" alt="TrucoApp Logo">
  </a>
</header>

<head>
  <meta charset="UTF-8">
  <title>Editar Partida</title>
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
  <div class="form-container">
    <h1>Editar Partida</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-actions">
        <button type="submit" class="btn-action">💾 Salvar</button>
        <a href="{% url 'home' %}" class="btn-action">↩ Cancelar</a>
        <a href="{% url 'partida_delete' object.pk %}" class="btn-danger">🗑 Apagar</a>
      </div>
    </form>
  </div>
</body>

</html>
