body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center; /* mantém centralizado */
}

.jogador-detail {
    max-width: 900px;
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* centraliza conteúdo */
    text-align: center;
    margin-left: auto;   /* garante centralização */
    margin-right: auto;  /* garante centralização */
    padding: 20px;
}

.jogador-actions {
    margin-top: 15px;
    display: flex;              /* coloca os botões lado a lado */
    justify-content: center;    /* centraliza os botões */
    gap: 10px;                  /* espaço entre eles */
}

.partidas-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* centraliza os cards */
    gap: 15px;
    width: 100%;
}

.partida-card {
    max-width: 600px;   /* controla o tamanho */
    width: 100%;
    text-align: center;
}

header {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  padding: 0 1rem;
  height: 60px;
  border-bottom: 2px solid #ddd;
  width: 100%;
  box-sizing: border-box;
  background: #228B22; 
}

.logo-home {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-home img {
  max-height: 150px;
  width: auto;
  display: block;
}

/* ===== BOTÕES ===== */
.jogador-actions .btn-action {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(135deg, #228B22, #228B22);
    padding: 10px 20px;
    border-radius: 25px;
    margin: 0 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.jogador-actions .btn-action:hover {
    background: linear-gradient(135deg, #228B22, #228B22);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

/* ===== IMAGEM DO JOGADOR PRINCIPAL ===== */
.player-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 4px solid #228B22;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* ===== MINIATURAS NAS PARTIDAS ===== */
.player-thumb {
    width: 50px;       /* menorzinho */
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #32c132;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.partida-actions .btn-action {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(135deg, #228B22, #228B22);
    padding: 10px 20px;
    border-radius: 25px;
    margin: 0 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.partida-actions .btn-action:hover {
    background: linear-gradient(135deg, #228B22, #33c533);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}
